

  body {
    font-family: 'Mukta Mahee', sans-serif;
    text-align: center;
    }

  p {
    font-size: 24px;
    margin: 100px;
    text-align: center;
    }

  #tooltip {
    background-color: #999999;
    border: none;
    display: none;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 12px;
    color: white;
    position: absolute;
    }

  #xAxis {
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 15px;
    }


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Mukta Mahee', sans-serif;
    color: black;
    }


h2 {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
}

h2 span {
  color: #ffffff;
  text-align: center;
  font-size: 100px;
  font-variant: small-caps;
  letter-spacing: -1px;
  background: black;
  padding: 10px;
    }

h3 {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
    }

h3 span {
    color: #ffffff;
    text-align: center;
    font-size: 75px;
    letter-spacing: -1px;
    background: black;
    padding: 10px;
        }
